body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: 212, 33%, 89%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  color: 209, 61%, 16%;
  font-weight: 800;
}

.source {
  font-size: 12px;
  font-style: italic;
  color: #747474;
}

.author {
  font-weight: 100;
  color: 210, 22%, 49%;
}

.images {
  width: 420px;
  height: 420px;
  border: 10px solid aliceblue;
  border-radius: 0.5rem;
}

.forma {
  float: right;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.published {
  text-align: right;
  color: hsl(210, 22%, 49%);
}

.content-separator {
  border-top: 1px dotted #747474;
}

.article-separator {
  border: 5px solid #49a6e9;
}

a:link {
  text-decoration: none;
}

a {
  color: hsl(210, 22%, 49%);
  font-weight: 500;
}
